@using ChanGaGoiNem_DoAnCNWeb.Models;
@{
    ViewBag.Title = "ThemVaoGioHang";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
    var s = ViewBag.TB as string;
}

<div class="form-inline">
    <span>@s</span>
    &nbsp;
    <a href="/KhachHang/DangNhap"><span>ĐĂNG NHẬP</span></a>
</div>