@{
    ViewBag.Title = "XuLiDangNhap";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
<div class="form-inline">
    <span> ĐĂNG NHẬP THẤT BẠI DO NHẬP SAI TÀI KHOẢN HOẶC MẬT KHẨU !</span>
    &nbsp;
    <a href="/KhachHang/DangNhap"><span>TRỞ VỀ TRANG ĐĂNG NHẬP</span></a>
</div>


