@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<div class="container">
    <div class="row w-100" style="margin-top:15px">
        <a href="/KhachHang/TrangChu"><img src="~/Content/HinhAnh/content1.png" width="1140" height="500" /></a>
    </div>
</div>

